/****************MISION 5***********************/
#mission5{
	position: absolute;
	top: 0px;
    left: 0px;
    display: none;
}

#carro1-m5,#carro2-m5,#carro3-m5,#carro4-m5,#carro5-m5,#carro6-m5{
	position: absolute;
	width: 49px;
	height: 49px;
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
	background-size: contain;
    background-position: center;
    box-sizing: border-box;
}
#carro2-m5{
    width: 49px;
	height: 49px;
}

#carro1-m5{background-image: url(../images/conductor/mision5/carro1.png);}
#carro2-m5{background-image: url(../images/conductor/mision5/carro2.png);}
#carro3-m5{background-image: url(../images/conductor/mision5/carro3.png);}
#carro4-m5{background-image: url(../images/conductor/mision5/carro4.png);}
#carro5-m5{background-image: url(../images/conductor/mision5/carro5.png);}
#carro6-m5{background-image: url(../images/conductor/mision5/carro6.png);}

.carro-m5-chocado{
    transform: rotate(-10deg) !important;
    -webkit-transform: rotate(-10deg) !important;
    -o-transform: rotate(-10deg) !important;

    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
}

#luz-mision-5{
    top: 644px;
    left: 468px;
}

#flecha-mision-5{
    width: 45px;
	height: 40px;
	top: 636px;
	left: 493px;
	transform-origin: 0% center;
	-webkit-transform-origin: 0% center;
    -o-transform-origin: 0% center;
    background-image: url(../images/conductor/mision2/flecha-2.svg);

	animation-name: flecha-animacion;
	-webkit-animation-name: flecha-animacion;
}

.avatar-dead-5{
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);

    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
}
.avatar-dead-5 #avatar-clip{
    visibility: hidden;
}
.avatar-dead-5 #avatar-atropeyado{
    visibility: inherit !important;
}

#punto-mision-5{
	left: 478px;
	top: 650px;
}